/* =============

General Style

================ */

body {
	background-color: #fff; 
	color: #011627;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing : antialiased;
}

h1,
h2,
h3,
h4,
h5,
h5, {
	color: #011627;
}

#page-wrapper {
	width: 100%;
}

.bg-images {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.content-section-title-container {
	height: 65px;
	margin-bottom: 40px;
	text-align: center;
}

.content-section-title-container
.content-section-title {
	font-size: 50px;
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
	color: #000;
}

/* =============

Header

================ */

#header {
	width: 100%;
	height: 700px;
	margin: 0 0 150px 0;
	background-color: #f4f7f5;
}

#header #website-label {
	color: #fff;
	font-size: 40px;
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
}

#header #navigation-bar {
	width: 100%;
	padding: 45px 0 0 0;
	background-color: transparent;
}

#header #navigation-bar .navbar-nav {
	font-family: 'Overpass', sans-serif;
	font-weight: lighter;
	font-size: 25px;
}

#header #navigation-bar .navbar-nav a {
	color: #fff;
	margin: 0 15px 0;
}

#header #navigation-bar .navbar-nav a:hover {
	color: #180759;
	transition: ease-in-out 300ms;
}

/* Sticky Navbar Style Start */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Sticky Navbar Style End */

#header #hero {
	background-color: transparent;
	height: 100%;
	padding: 180px 0 0 0;
}

#header #hero #web-title {
	font-family: 'Overpass', sans-serif;
	font-weight: bolder;
	color: #fff;
}

#header #hero #web-subtitle {
	font-family: 'Overpass', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #fff;
	margin-top: -20px; 
}

#header #hero .hero-navigation-butt {
	color: #fff;
	font-size: 45px;
}

#header #hero .hero-navigation-butt:hover {
	color: #180759;
	transition: ease-in-out 3ms;
}

/* =============

Content

================ */

#main-body-content .content-container-profile {
	padding: 30px 0 50px;
	margin-bottom: 130px;
}

.content-container-profile .container-about-me {margin-bottom: 50px;}
.content-container-profile .container-about-me p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 17px;
}

.content-container-profile .container-profile-photo {margin-bottom: 50px;}
.content-container-profile .container-profile-photo img {border-radius: 10px;}

.content-container-profile .container-skill-list {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

.content-container-profile .container-skill-list .skill-list-title {
	font-family: 'Overpass', sans-serif;
	font-size: 35px;
	font-weight: bold;
}

.content-container-profile .container-skill-list span {
	display: block;
	margin: 15px 0 5px;
	font-size: 15px;
}

#main-body-content .content-container-portofolio {
	padding: 30px 0 50px;
	margin-bottom: 130px;
}

.content-container-portofolio .container-portofolio {
	height: 100%;
	margin-bottom: 15px;
	padding: 15px;
}
.content-container-portofolio .container-portofolio img {border-radius: 10px;}

#main-body-content .content-container-contact {
	padding: 30px 0 50px;
	margin-bottom: 130px;
}

.content-container-contact .content-contact-form {
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

.content-container-contact .content-contact-form  h3 {
	margin-bottom: 30px;
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #000;
}

.content-contact-form .contact-form input {margin-bottom: 25px;}
.content-contact-form .contact-form textarea {
	height: 150px;
	margin-bottom: 25px;
}

.content-contact-form .contact-form button {
	width: 150px;
	background-color: #562ad1;
	font-weight: lighter;
	font-size: 20px;
	font-family: 'Overpass', sans-serif;
	border: none;
}
.content-contact-form .contact-form button:hover {
	background-color: #180759;
	transition: ease-in-out 250ms;
	border: none;
}

.content-container-contact .content-contact {
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.content-contact .title-box {margin-bottom: 30px;}
.content-contact .title-box h3 {
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #000;
}

.content-contact .contact-info {margin-bottom: 30px;}
.contact-info .contact-detail {
	padding-left: 0;
	font-weight: bold;
	list-style: none;
}

.contact-info .contact-detail ion-icon {
	padding: 0;
	margin-right: 10px;
	font-size: 15px;
}

.content-contact .contact-social-media-list {width: 100%;}
.contact-social-media-list .social-media-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contact-social-media-list .social-media-list li {
	display: inline;
	float: left;
	margin-right: 15px;
}

.contact-social-media-list .social-media-list li a {
	color: #562ad1;
	font-size: 30px;
}
.contact-social-media-list .social-media-list li a:hover {
	color: #180759;
	transition: ease-in-out 250ms;
}

/* =============

Footer

================ */

#footer {
	color: #fff;
	width: 100%;
	height: 150px;
	padding: 60px 0 50px;
	background-color: #fcc719;
	font-family: 'Montserrat', sans-serif;
}

#footer .content-copyright-container {font-size: 15px;}
#footer .content-credit-container {margin-top: -15px;}
#footer .content-credit-container a {
	color: #562ad1;
	font-weight: bolder;
}
#footer .content-credit-container a:hover {
	font-weight: bolder;
	color: #180759;
	text-decoration: none;
	transition: ease-in-out 250ms;
}